<div class="container mt-4">

  <div *ngIf="message" class="fixed-bottom alert mb-3"
  [ngClass]="{'alert-success': !isError, 'alert-danger': isError}"
  role="alert">
    {{ message }}
  </div>

  <h2 class="mb-4">Új lakás új lakóval</h2>

   <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="apartmentNumber" class="form-label">Lakás emelet, ajtó:</label>
      <select id="apartmentNumber" formControlName="apartmentNumber"
      class="form-select">
        <option *ngFor="let freeApartmentNumber of freeApartmentNumbers"
        [value]="freeApartmentNumber">{{ freeApartmentNumber }}</option>
      </select>
       <div *ngIf="creationForm.get('apartmentNumber')?.invalid &&
       creationForm.get('apartmentNumber')?.touched" class="text-danger">
             A mező nincs megfelelően kitöltve!
       </div>
    </div>
    <div class="mb-3">
      <label for="area" class="form-label">Lakás alapterülete (m²):</label>
      <input type="number" id="area" formControlName="area" class="form-control">
      <div *ngIf="creationForm.get('area')?.invalid &&
      creationForm.get('area')?.touched" class="text-danger">
        A mező nincs megfelelően kitöltve! (minimum 20, maximum 50)
      </div>
    </div>
    <div class="mb-3">
      <label for="airVolume" class="form-label">Lakás légtere (m³):</label>
      <input type="number" id="airVolume" formControlName="airVolume"
      class="form-control">
      <div *ngIf="creationForm.get('area')?.invalid &&
      creationForm.get('area')?.touched" class="text-danger">
        A mező nincs megfelelően kitöltve! (minimum 50, maximum 150)
      </div>
    </div>
    <div class="mb-3">
      <label for="residentName" class="form-label">Új lakó neve:</label>
      <input type="text" id="residentName" formControlName="residentName"
      class="form-control">
      <div *ngIf="creationForm.get('residentName')?.invalid &&
      creationForm.get('residentName')?.touched" class="text-danger">
        A mező nincs megfelelően kitöltve!
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="creationForm.invalid">Lakás létrehozás</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">Mégse</button>
  </form>
</div>
