<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <p class="navbar-brand text-center" routerLink=""><strong>Lakóközösségi <br> könyvelés</strong></p>
    <div class="collapse-horizontal navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/apartments">Lakások</a>
          <a class="nav-link" routerLink="/apartments/create">Új lakás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/residents">Lakók</a>
          <a class="nav-link" routerLink="/move">Lakó beköltöztetése</a>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions/payment">Befizetés</a>
          <a class="nav-link" routerLink="/transactions/cost">Költségkiírás</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
