<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand text-center" routerLink="">Welcome</a>
    <div class="collapse-horizontal navbar-collapse" id="navbarNav">
      <ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apartments/list">Apartement list</a>
          <a class="nav-link" routerLink="/apartments/create">Create apartement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment">Create payment</a>
          <a class="nav-link" routerLink="/cost">Create cost</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
